<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row marcador align-items-center mb-5">
                <div class="col mx-auto text-center">
                    <img class="img-responsive" src="./assets/logocinza.png" height="37" alt="">
                </div>
            </div>

            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Acesse sua conta</h2>
                        <form autocomplete="off">
                            <div class="input-group mb-3">
                                <input class="form-control" id="email" name="email" type="text" placeholder="Email">
                            </div>
                            <div class="input-group mb-3">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Senha">
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 text-right">
                                    <a href="#" class="px-0">Esqueceu sua senha?</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-lg-login px-4 btn-block" type="button">Entrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
