<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Rafael Silva</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a routerLink="/visao-geral" class="nav-link" aria-expanded="false">
                    Visão Geral
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                    Folha de Pagamento
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu w3-button" aria-labelledby="dropdown01">
                    <a routerLink="/funcionarios" class="dropdown-item">
                        <span class="align-middle">Gerenciar funcionários</span>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                    Societário
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu w3-button">
                    <a routerLink="/contrato-social" class="dropdown-item">
                        <span class="align-middle">Contrato social</span>
                    </a>

                    <a href="#" class="dropdown-item">
                        <span class="align-middle">Documentos dos sócios</span>
                    </a>

                    <a href="#" class="dropdown-item">
                        <span class="align-middle">Consultar lista de sócios</span>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                    Relatórios
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu w3-button">
                    <a routerLink="relatorios/balancete" class="dropdown-item">
                        <span class="align-middle">Balancete</span>
                    </a>

                    <a routerLink="relatorios/balanco" class="dropdown-item">
                        <span class="align-middle">Balanço</span>
                    </a>

                    <a routerLink="relatorios/dre" class="dropdown-item">
                        <span class="align-middle">DRE</span>
                    </a>

                    <a routerLink="relatorios/analise-de-resultados" class="dropdown-item">
                        <span class="align-middle">Análise de resultados</span>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons">perm_identity</i>
                </a>

                <div class="dropdown-menu dropdown-menu-right w3-button" aria-labelledby="userMenu">
                    <a class="dropdown-item" id="logout_btn" href="#">Meus dados</a>
                    <a class="dropdown-item" id="logout_btn" (click)="logout()" href="javascript:;">Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
